In [1]:
# Import the Pandas library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np

In [10]:
# Create a reference the CSV file desired
csv_path = "Resources/GasData.csv"

# Read the CSV into a Pandas DataFrame
gas_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
gas_df.head()

        Date Price/Gallon  Gallons    Total    Vendor
0  3/12/2019       $3.88    17.378  $67.41     Costco
1  3/21/2019       $3.70    18.039  $66.73     Costco
2  3/30/2019       $4.40     4.563  $20.07      Shell
3  4/17/2019       $3.68    14.833  $54.57     Costco
4  4/20/2019       $4.00     3.751  $15.00   Circle K

In [3]:
# Check to see if there are any rows with missing data
gas_df.count()

Date            53
Price/Gallon    53
Gallons         53
Total           53
Vendor          53
dtype: int64

In [4]:
# Remove the rows with missing data
clean_gas_df = gas_df.dropna(how="any")
clean_gas_df.count()

Date            53
Price/Gallon    53
Gallons         53
Total           53
Vendor          53
dtype: int64

In [5]:
# Filter the data so that only the trips to Costco are in a DataFrame
costco_gas_df = clean_gas_df.loc[clean_gas_df["Vendor"] == "Costco", :]
costco_gas_df

          Date Price/Gallon  Gallons    Total  Vendor
0    3/12/2019       $3.88    17.378  $67.41   Costco
1    3/21/2019       $3.70    18.039  $66.73   Costco
3    4/17/2019       $3.68    14.833  $54.57   Costco
9    5/30/2019       $3.40    16.019  $54.45   Costco
10    6/8/2019       $3.74    17.353  $64.88   Costco
12   6/15/2019       $3.56    17.771  $63.25   Costco
15   6/29/2019       $3.30    16.715  $55.14   Costco
16    7/4/2019       $3.20    14.017  $44.84   Costco
17   7/11/2019       $3.24    17.660  $57.20   Costco
18   7/14/2019       $3.26    15.703  $51.18   Costco
19   7/16/2019       $3.30    16.153  $53.29   Costco
20   7/31/2019       $3.23    15.828  $51.11   Costco
21    8/5/2019       $3.22    16.244  $52.29   Costco
22   8/30/2019       $3.20     8.721  $27.90   Costco
23    9/5/2019       $3.46    18.007  $62.29   Costco
25   9/23/2019       $3.86    17.034  $65.73   Costco
26   9/29/2019       $3.44    19.299  $66.37   Costco
27   10/4/2019       $3.64    18.198  $66.22   Costco
32   11/6/2019       $3.56    17.429  $62.03   Costco
33   11/8/2019       $3.43    15.966  $54.75   Costco
34  11/12/2019       $3.84    15.750  $60.46   Costco
35  11/23/2019       $3.40    16.569  $56.32   Costco
36   12/3/2019       $3.74    15.534  $58.08   Costco
38  12/20/2019       $3.36    18.061  $60.67   Costco
39    1/5/2020       $3.40    14.655  $49.81   Costco
41   1/15/2020       $3.30    14.228  $46.94   Costco
43    2/3/2020       $3.24    12.952  $41.95   Costco
45   2/18/2020       $3.80    15.959  $60.63   Costco
46   2/26/2020       $3.16    10.654  $33.66   Costco
49    3/9/2020       $3.20    16.543  $52.92   Costco
51   3/17/2020       $2.90    15.281  $44.30   Costco
52    4/9/2020       $2.46    10.147  $24.95   Costco

In [6]:
# Display an overview of the various gas stations visited
gas_df['Vendor'].value_counts()

Costco               32
Vons                  6
Shell                 5
VP Fuels              2
Circle K              2
ARCO                  2
USA Gas               1
Super Gas             1
Pacific Beach Gas     1
Valero                1
Name: Vendor, dtype: int64

In [7]:
# Display a statistical overview of the gas data over the year in gallons
gas_df.describe()

         Gallons
count  53.000000
mean   11.738634
std     5.728738
min     2.223000
25%     5.715000
50%    14.655000
75%    16.569000
max    19.299000

In [8]:
# Display an overview of the Price/Gallon data, showing which price is the mode
gas_df['Price/Gallon'].value_counts()

$3.40     4
$4.00     3
$3.30     3
$3.56     3
$3.20     3
$3.74     2
$3.24     2
$4.40     2
$3.44     2
$3.70     2
$3.86     2
$3.23     1
$3.80     1
$3.64     1
$3.32     1
$3.68     1
$2.46     1
$3.88     1
$3.10     1
$3.50     1
$3.84     1
$4.30     1
$3.46     1
$3.43     1
$4.50     1
$3.49     1
$3.62     1
$3.26     1
$3.60     1
$3.36     1
$2.90     1
$3.16     1
$3.90     1
$3.22     1
$4.16     1
$3.78     1
Name: Price/Gallon, dtype: int64

In [9]:
# Obtain number of unique items, average price
unique_items = len(gas_df["Vendor"].unique())

average_price = len(gas_df["Price/Gallon"].unique())

total_df = len(gas_df)

total_gas_price_df = gas_df["Total"].sum()
    
# Create a summary data frame to hold the results and display it
summary_table = pd.DataFrame({'Amount of Item Names': [unique_items], '\n Average Price': [average_price], '\n Total Purchases': [total_gas_price_df], 'Total Revenue': [total_df]})
summary_table

,Amount of Item Names,\n Average Price,\n Total Purchases,Total Revenue
0,10,36,$67.41 $66.73 $20.07 $54.57 $15.00 $35.00 $19....,53