In [1]:
# Import the Pandas library
import pandas as pd
import numpy as np

In [2]:
# Create a reference the CSV file desired
csv_path = "Resources/GasData.csv"

# Read the CSV into a Pandas DataFrame
gas_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
gas_df.head()

        Date Price/Gallon  Gallons    Total    Vendor
0  3/12/2019      $3.879    17.378  $67.41     Costco
1  3/21/2019      $3.699    18.039  $66.73     Costco
2  3/30/2019      $4.399     4.563  $20.07      Shell
3  4/17/2019      $3.679    14.833  $54.57     Costco
4  4/20/2019      $3.999     3.751  $15.00   Circle K

In [3]:
# Check to see if there are any rows with missing data
gas_df.count()

Date            52
Price/Gallon    52
Gallons         52
Total           52
Vendor          52
dtype: int64

In [4]:
# Remove the rows with missing data
clean_gas_df = gas_df.dropna(how="any")
clean_gas_df.count()

Date            52
Price/Gallon    52
Gallons         52
Total           52
Vendor          52
dtype: int64

In [5]:
# Filter the data so that only the trips to Costco are in a DataFrame
costco_gas_df = clean_gas_df.loc[clean_gas_df["Vendor"] == "Costco", :]
costco_gas_df

          Date Price/Gallon  Gallons    Total  Vendor
0    3/12/2019      $3.879    17.378  $67.41   Costco
1    3/21/2019      $3.699    18.039  $66.73   Costco
3    4/17/2019      $3.679    14.833  $54.57   Costco
9    5/30/2019      $3.399    16.019  $54.45   Costco
10    6/8/2019      $3.739    17.353  $64.88   Costco
12   6/15/2019      $3.559    17.771  $63.25   Costco
15   6/29/2019      $3.299    16.715  $55.14   Costco
16    7/4/2019      $3.199    14.017  $44.84   Costco
17   7/11/2019      $3.239    17.660  $57.20   Costco
18   7/14/2019      $3.259    15.703  $51.18   Costco
19   7/16/2019      $3.299    16.153  $53.29   Costco
20   7/31/2019      $3.229    15.828  $51.11   Costco
21    8/5/2019      $3.219    16.244  $52.29   Costco
22   8/30/2019      $3.199     8.721  $27.90   Costco
23    9/5/2019      $3.459    18.007  $62.29   Costco
25   9/23/2019      $3.859    17.034  $65.73   Costco
26   9/29/2019      $3.439    19.299  $66.37   Costco
27   10/4/2019      $3.639    18.198  $66.22   Costco
32   11/6/2019      $3.559    17.429  $62.03   Costco
33   11/8/2019      $3.429    15.966  $54.75   Costco
34  11/12/2019      $3.839    15.750  $60.46   Costco
35  11/23/2019      $3.399    16.569  $56.32   Costco
36   12/3/2019      $3.739    15.534  $58.08   Costco
38  12/20/2019      $3.359    18.061  $60.67   Costco
39    1/5/2020      $3.399    14.655  $49.81   Costco
41   1/15/2020      $3.299    14.228  $46.94   Costco
43    2/3/2020      $3.239    12.952  $41.95   Costco
45   2/18/2020      $3.799    15.959  $60.63   Costco
46   2/26/2020      $3.159    10.654  $33.66   Costco
49    3/9/2020      $3.199    16.543  $52.92   Costco
51   3/17/2020      $2.899    15.281  $44.30   Costco

In [6]:
# Display an overview of the various gas stations visited
gas_df['Vendor'].value_counts()

Costco               31
Vons                  6
Shell                 5
ARCO                  2
Circle K              2
VP Fuels              2
Pacific Beach Gas     1
Valero                1
Super Gas             1
USA Gas               1
Name: Vendor, dtype: int64

In [7]:
# Display a statistical overview of the gas data over the year in gallons
gas_df.describe()

         Gallons
count  52.000000
mean   11.769242
std     5.780252
min     2.223000
25%     5.707750
50%    14.744000
75%    16.605500
max    19.299000

In [9]:
# Display an overview of the Price/Gallon data, showing which price is the mode
gas_df['Price/Gallon'].value_counts()

$3.399     4
$3.299     3
$3.999     3
$3.199     3
$3.559     3
$3.239     2
$4.399     2
$3.439     2
$3.859     2
$3.699     2
$3.739     2
$3.489     1
$3.229     1
$3.319     1
$3.159     1
$3.879     1
$3.839     1
$3.099     1
$3.599     1
$3.359     1
$3.429     1
$3.619     1
$3.259     1
$3.459     1
$3.799     1
$4.299     1
$3.679     1
$3.219     1
$4.159     1
$3.499     1
$3.899     1
$2.899     1
$4.499     1
$3.778     1
$3.639     1
Name: Price/Gallon, dtype: int64