In [1]:
# Import the Pandas library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Create a reference the CSV file desired
csv_path = "Resources/GasData.csv"

# Read the CSV into a Pandas DataFrame
gas_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
gas_df.head()

        Date Price/Gallon Gallons    Total    Vendor
0  3/12/2019       $3.88   17.378  $67.41     Costco
1  3/21/2019       $3.70   18.039  $66.73     Costco
2  3/30/2019       $4.40    4.563  $20.07      Shell
3  4/17/2019       $3.68   14.833  $54.57     Costco
4  4/20/2019       $4.00    3.751  $15.00   Circle K

In [3]:
# Check to see if there are any rows with missing data
gas_df.count()

Date            66
Price/Gallon    66
Gallons         66
Total           66
Vendor          66
dtype: int64

In [4]:
# Remove the rows with missing data
clean_gas_df = gas_df.dropna(how="any")
clean_gas_df.count()

Date            66
Price/Gallon    66
Gallons         66
Total           66
Vendor          66
dtype: int64

In [5]:
# Filter the data so that only the trips to Costco are in a DataFrame
costco_gas_df = clean_gas_df.loc[clean_gas_df["Vendor"] == "Costco", :]
costco_gas_df.head()

         Date Price/Gallon Gallons    Total  Vendor
0   3/12/2019       $3.88   17.378  $67.41   Costco
1   3/21/2019       $3.70   18.039  $66.73   Costco
3   4/17/2019       $3.68   14.833  $54.57   Costco
9   5/30/2019       $3.40   16.019  $54.45   Costco
10   6/8/2019       $3.74   17.353  $64.88   Costco

In [6]:
# Display an overview of the various gas stations visited
gas_df['Vendor'].value_counts()

Costco        40
Vons           8
Shell          5
Circle K       3
ARCO           2
VP Fuels       2
ExxonMobil     2
 Costco        1
Valero         1
Super Gas      1
USA Gas        1
Name: Vendor, dtype: int64

In [7]:
# Display a statistical overview of the gas data over the year in gallons
gas_df.describe()

             Date Price/Gallon Gallons    Total  Vendor
count          66           66      66       66      66
unique         63           45      66       63      11
top     6/10/2020       $3.40   15.534  $20.00   Costco
freq            2            4       1        3      40

In [8]:
# Display an overview of the Price/Gallon data, showing which price is the mode
gas_df['Price/Gallon'].value_counts()

$3.40     4
$4.00     3
$2.90     3
$3.30     3
$3.56     3
$3.20     3
$3.70     2
$4.40     2
$3.24     2
$2.46     2
$3.86     2
$3.44     2
$3.74     2
2.879     2
$4.50     1
$3.50     1
$3.62     1
$2.36     1
$3.26     1
$3.46     1
$2.74     1
$3.90     1
$3.10     1
$2.47     1
$3.23     1
$3.16     1
2.799     1
$3.60     1
$3.36     1
$3.64     1
$3.84     1
$3.22     1
$3.43     1
$3.78     1
2.769     1
$2.80     1
$4.30     1
$2.40     1
$3.88     1
$3.80     1
$3.68     1
$4.16     1
$3.32     1
$3.49     1
$3.00     1
Name: Price/Gallon, dtype: int64

In [9]:
# Obtain number of unique items, average price
unique_items = len(gas_df["Vendor"].unique())

average_price = len(gas_df["Price/Gallon"].unique())

total_df = len(gas_df)

total_gas_price_df = gas_df["Total"].sum()
    
# Create a summary data frame to hold the results and display it
summary_table = pd.DataFrame({'Amount of Item Names': [unique_items], '\n Average Price': [average_price], '\n Total Purchases': [total_gas_price_df], 'Total Revenue': [total_df]})
summary_table

,Amount of Item Names,\n Average Price,\n Total Purchases,Total Revenue
0,11,45,$67.41 $66.73 $20.07 $54.57 $15.00 $35.00 $19....,66